.accountsettings {
    display: flex;
    flex-direction: row;
    padding: 2%;
    height: 100%;
}

.selection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 30%;
    font-size: 24px;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2%;
    margin-bottom: 4%;
    overflow-y: auto;
}

.MuiTableCell-root {
    font-size: 16px;
}

