@font-face {
    font-family: 'Quicksand-Light';
    src: local('Quicksand-Light'), url('./fonts/Quicksand-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: local('Quicksand-Regular'), url('./fonts/Quicksand-Regular.ttf') format('truetype');
}

body, .header-center{
    font-family: 'Quicksand-Light';
}

h2 {
  font-family: 'Quicksand-Regular';
}

h3 {
    font-family: 'Quicksand-Light';
}

canvas {
  z-index: -2;
  position : absolute; 
  top : 0px; 
  left : 0px; 
}

.main-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e6eaff;
}

.maintitle {
  z-index: -1;
  text-align: center;
  font-size: 150px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
